#contactPage {
  min-height: calc(100vh - 6rem);
  width: 100vw;
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.contactPageTitle {
  font-size: 3rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.contactDesc {
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
}

.contactForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 50rem;
}

.name,
.email,
.msg {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: rgb(0, 0, 0);
  background: #f0edef;
  border: none;
  /* border: 3px solid black; */
  border-radius: 0.5rem;
}

.submitBtn {
  background-color: #1c1a1b; /* A nice, professional green */

  color: white; /* Text color */
  border: none; /* Remove border */
  padding: 12px 24px; /* Button padding for a larger click area */
  font-size: 16px; /* Adjust font size */
  font-family: "Arial", sans-serif; /* Font family */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: all 0.3s ease; /* Smooth hover transitions */
}

.submitBtn:hover {
  background-color: #121111; /* Slightly darker green on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
  transform: translateY(-2px); /* Small lift effect on hover */
}

.submitBtn {
  background: rgb(19, 18, 18);
  font-size: small;
  color: rgb(255, 255, 255);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 1rem; */
  margin-top: 2rem;
  border-radius: 2rem;
}

.acknowledge {
  margin-top: 4rem;
  font-weight: 200;
  display: flex;
  align-items: flex-end;
  height: 100%; /* Ensure the container has height */
  position: relative;
}

.contactInfo {
  font-weight: 200;
}

.infoSection {
  margin: 3rem 2rem;
}

@media screen and (max-width: 720px) {
  .contactPageTitle {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  #contactPage {
    padding-bottom: 0;
  }
  .infoSection {
    margin: 2rem 1rem;
    margin-bottom: 0;
  }
  .submitBtn {
    margin-top: 1rem;
  }
  .acknowledge {
    margin-top: 2rem;
  }
  .contactPageTitle {
    margin-top: 0;
  }
}
